.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: start;
    margin-bottom: 24px;

    .filter-button {
        background: #101828;
        color: white;
        border: #171F33 1px solid;
        border-radius: 10px;
        padding: 8px 20px;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.2s, color 0.2s, border 0.2s;
        outline: none;
        font-weight: normal;
    }

    .filter-button:hover {
        background: #e0e0e0;
        color: #222;
        border-color: #bbb;
    }

    .filter-button-active {
        background: #1976d2;
        color: #fff;
        border: 1px solid #1976d2;
        font-weight: bold;
        border-radius: 10px;
        padding: 8px 20px;
        font-size: 1rem;
        cursor: pointer;
        outline: none;
    }
}


@media (max-width: 600px) {
    .filter-container {
        gap: 8px;
        margin-bottom: 16px;

        .filter-button,
        .filter-button-active {
            font-size: 0.9rem;
            padding: 6px 12px;
        }
    }

}
